<!-- 
File name: header.ejs
Student's name: Ibtesam Mirza.
Student ID: 301315915.
Date: Septerber 20th, 2023
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>header</title>
</head>
<body><input type="checkbox" id="navigation-toggle">
    <label for="navigation-toggle" class="navigation-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>

    <div class="menu">
      <div class="menu-inner">
        <ul class="menu-nav">
          <li class="menu-nav-item"><a class="menu-nav-link" href="/"><span>
                <div>Home</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link" href="/about"><span>
                <div>About Me</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link" href="/project"><span>
                <div>Projects</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link" href="/contact"><span>
                <div>Contact Me</div>
              </span></a></li>
          <li class="menu-nav-item"><a class="menu-nav-link" href="/service"><span>
                <div>Services</div>
              </span></a></li>
        </ul>

        <div class="gallery">
          <div class="title">
            <p>Logo and Gallery of Hobbies</p>
          </div>
          <div class="images">
            <a class="image-link">
              <div class="image" data-label="Logo"><img src="/assets/images/png/logo-color.png"></div>
            </a>
            <a class="image-link">
              <div class="image" data-label="Reading"><img src="/assets/images/png/Reading.jpg"></div>
            </a>
            <a class="image-link">
              <div class="image" data-label="Badminton"><img src="/assets/images/png/Badminton.jpg"></div>
            </a>
            <a class="image-link">
              <div class="image" data-label="Photography"><img src="/assets/images/png/Photography.jpg"></div>
            </a>
            <a class="image-link">
              <div class="image" data-label="Visiting Cafes"><img src="/assets/images/png/Cafe.jpg"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>