<!-- 
File name: index.ejs
Student's name: Ibtesam Mirza.
Student ID: 301315915.
Date: Septerber 20th, 2023
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Home</title>
</head>
<body>
  <%- include ('partials/header.ejs') %>
  <div class="container">
    <img src="/assets/images/png/logo-color.png" width="400px" height="200px">
    <p>Welcome to my portfolio website! I am Ibtesam Mirza a dedicated Software Engineering Student
    with a passion for creating innovating solutions. Through my website I aim to showcase my journey, skills, and achievements.
    To know more about me and my works, click the menu option on the top left corner!!
  </p>
  </div>
</body>
<%- include ('partials/footer.ejs') %>
</html>
