<!-- 
File name: project.ejs
Student's name: Ibtesam Mirza.
Student ID: 301315915.
Date: Septerber 20th, 2023
-->
<%- include ('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <title>Projects</title>
</head>
<body>
    <div class="container-1">
        <img src="assets/images/png/Real Estate Properties Project.png" id="img">
        <h1>Real Estate Properties Webpage</h1>
        <p>I was expected to create a webpage for a Real Estate Webpage that displayed the agent information.
           It required a webpage with property listings, and a contact page. 
        </p>
    </div>
    <div class="container-2">
        <img src="/assets/images/png/Course and Instructor Evaluation Form.png" id="img">
        <h1>Course and Instructor Evaluation Form</h1>
        <p>I was expected to create an online form for students so that they can evaluate their course and instructor.</p>
    </div>
    <div class="container-3">
        <img src="/assets/images/png/Product info page.png" id="img">
        <h1>Product Information Page</h1>
        <p>I was expected to create a product information page displaying the product, its functionality, and a table
           with other similar products and their price. 
        </p>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
</html>
