<!-- 
File name: service.ejs
Student's name: Ibtesam Mirza.
Student ID: 301315915.
Date: Septerber 20th, 2023
-->

<%- include ('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/services.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>MY SERVICES</h1>
        <div class="service">
          <h2>Web Development</h2>
          <ul>
            <li>Creating and maintaining web applicaions using HTML, CSS, JavaScript, and frameworks like React.</li>
          </ul>
          <h2>Database Management</h2>
          <ul>
            <li>Creating and managing existing databases using SQL</li>
          </ul>
          <h2>Technical Writing</h2>
          <ul>
            <li>Creating and editing technical documentations such as SRS documentations.</li>
          </ul>
        </div>
    </div>
</body>
</html>
<%- include ('partials/footer.ejs') %>